# IDE project files
.idea

# macOS attribute file
.DS_Store

# Temporary build files
*.o
*.mod
mpif.h

# Example artifacts
examples/*/fort.*

# Binaries
src/ImpactZexe
src/ImapctZexe-mpi

# Python cache
__pycache__
